@import "normalize.css";
@import "glyphicons.css";


body, html {
  width: 100%;
  height: 100%;
  background-color: #6699cc;
  margin: 0;
  padding: 0;
  min-width: 800px;
  min-height: 400px;
}

.treeContainer() {
  float: left;
  width: ~"calc(50% - 30px)";
  height: ~"calc(100% - 120px)";
  > h2 {
    margin: 10px 0 10px 20px;
  }
  > .treeView {
    height: ~"calc(100% - 60px)"; ;
    background-color: white;
    margin: 0 20px 0 20px;
    overflow: auto;

    > ul {
      li > a {
        cursor: pointer;
        color:black;
        text-decoration: none;
        &:hover {
          color: #009926;
          text-decoration: none;
        }

        &.selected {
          color: aqua;
        }

        &.deleted {
          text-decoration: line-through;
        }
      }
    }
  }
}
.page {
  height: 100%;
  .container {
    height: 100%;
    > .cache-container {
      .treeContainer;
    }

    > .database-container {
      .treeContainer;
    }

    > .actions-between {
      float: left;
      width: 60px;
      height: ~"calc(100% - 120px)";
      position:relative;
      > button {
        position:absolute;
        top:50%;
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    > .actions {
      float: left;
      width: ~"calc(100% - 20px)";
      height: 120px;
      padding-left: 20px;
    }
  }
}
