@import "normalize.css";
@import "glyphicons.css";
body,
html {
  width: 100%;
  height: 100%;
  background-color: #6699cc;
  margin: 0;
  padding: 0;
  min-width: 800px;
  min-height: 400px;
}
.page {
  height: 100%;
}
.page .container {
  height: 100%;
}
.page .container > .cache-container {
  float: left;
  width: calc(50% - 30px);
  height: calc(100% - 120px);
}
.page .container > .cache-container > h2 {
  margin: 10px 0 10px 20px;
}
.page .container > .cache-container > .treeView {
  height: calc(100% - 60px);
  background-color: white;
  margin: 0 20px 0 20px;
  overflow: auto;
}
.page .container > .cache-container > .treeView > ul li > a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.page .container > .cache-container > .treeView > ul li > a:hover {
  color: #009926;
  text-decoration: none;
}
.page .container > .cache-container > .treeView > ul li > a.selected {
  color: aqua;
}
.page .container > .cache-container > .treeView > ul li > a.deleted {
  text-decoration: line-through;
}
.page .container > .database-container {
  float: left;
  width: calc(50% - 30px);
  height: calc(100% - 120px);
}
.page .container > .database-container > h2 {
  margin: 10px 0 10px 20px;
}
.page .container > .database-container > .treeView {
  height: calc(100% - 60px);
  background-color: white;
  margin: 0 20px 0 20px;
  overflow: auto;
}
.page .container > .database-container > .treeView > ul li > a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.page .container > .database-container > .treeView > ul li > a:hover {
  color: #009926;
  text-decoration: none;
}
.page .container > .database-container > .treeView > ul li > a.selected {
  color: aqua;
}
.page .container > .database-container > .treeView > ul li > a.deleted {
  text-decoration: line-through;
}
.page .container > .actions-between {
  float: left;
  width: 60px;
  height: calc(100% - 120px);
  position: relative;
}
.page .container > .actions-between > button {
  position: absolute;
  top: 50%;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.page .container > .actions {
  float: left;
  width: calc(100% - 20px);
  height: 120px;
  padding-left: 20px;
}
