<script type="text/ng-template" id="dbTree">
    <a ng-click="vm.selectDatabaseItem(node)"
       ng-class="{selected: vm.selectedDatabaseItem.id == node.id, deleted: node.deleted}"

       href="javascript:void(0)" >{{node.parent}} {{ node.value }} {{node.id}}</a>
    <ul ng-if="node.children">
        <li ng-repeat="node in node.children" ng-include="'dbTree'">
        </li>
    </ul>
</script>
<script type="text/ng-template" id="cacheTree">
    <a ng-click="vm.selectCacheItem(node)"
       ng-class="{selected: vm.selectedCacheItem.id == node.id, deleted: node.deleted}"

       href="javascript:void(0)" >{{node.parent}} {{ node.value }} {{node.id}}</a>
    <ul ng-if="node.children">
        <li ng-repeat="node in node.children" ng-include="'cacheTree'">
        </li>
    </ul>
</script>

<div class="container">
    <div class="cache-container">
        <h2>Cache</h2>
        <div class="treeView">
            <ul>
                <li ng-repeat="node in vm.treeCache" ng-include="'cacheTree'"></li>
            </ul>
        </div>
    </div>
    <div class="actions-between">
        <button ng-click="vm.loadSelectedItem()" ng-disabled="!vm.selectedDatabaseItem || vm.isEditing">&lt;&lt;&lt;</button>
    </div>

    <div class="database-container">
        <h2>Database</h2>
        <div class="treeView">
            <ul>
                <li ng-repeat="node in vm.tree" ng-include="'dbTree'"></li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <button ng-click="vm.addAfterItem()" ng-disabled="!vm.selectedCacheItem  || vm.isEditing || vm.selectedCacheItem.deleted" >+</button>
        <button ng-click="vm.removeItem()" ng-disabled="!vm.selectedCacheItem || vm.isEditing || vm.selectedCacheItem.deleted">-</button>
        <button ng-click="vm.enableEditing()" ng-if="!vm.isEditing"  ng-disabled="!vm.selectedCacheItem || vm.selectedCacheItem.deleted">Edit</button>

        <button ng-click="vm.applyChanges()" ng-disabled="vm.isEditing">Apply</button>
        <button ng-click="vm.resetAll()">Reset</button>

        <br>
        <br>
        <input type="text" ng-model="vm.editCache" ng-if="vm.isEditing" />
        <br>
        <br>
        <button ng-click="vm.saveEditing()" ng-if="vm.isEditing" ng-disabled="!vm.editCache">Save</button>
        <button ng-click="vm.cancelEditing()" ng-if="vm.isEditing">Cancel</button>
    </div>
</div>